section {
  align-items: flex-start;
  background-image: url('../../images/mountain-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  height: 65vh;
  overflow: scroll;
}