section {
  align-items: flex-start;
  background-image: url(/static/media/mountain-background.548f389d.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  max-height: 650px;
  overflow: scroll;
}