* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  background: #141527;
  height: 100vh;
  text-align: center;
  width: 100%;
}

body {
  font-family: 'Roboto Slab', serif;
}

header {
  align-items: center;
  background-color: #171618fa;
  color: #779c43;
  display: flex;
  height: 200px;
  justify-content: space-between;
}

h1 {
  font-size: 5em;
  margin-left: 64px;
}
